.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Light theme variables */
:root {
  --background-color: #fff; /* Light background */
  --text-color: #000; /* Dark text */
  --navbar-background-color: #043b5c;
  --link-color: #000;
  /* Add other variables as needed */
}

/* Dark theme variables */
[data-theme="dark"] {
  --background-color: #fff; /* Dark background */
  --text-color: #FAFAFA; /* Light text */
  --navbar-background-color: #333; /* Example dark navbar background */
  --link-color: #ddd;
  /* Add other variables as needed */
}

