

@font-face {
    font-family: 'Inter';
    src: url('./Inter-VariableFont_slnt,wght.ttf') format('truetype');
  }


#template {
    background-color: var(--background-color);
    position: absolute;
    display: flex;
    flex-direction: row; 
    left: 0px;
    top: 74px;
    width: 563px;
    height: 1045px;
    background-color: #D9E1FE;
}
#bar {
    background-color: var(--background-color);
    position: fixed;
    margin-top: 5em;
   
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: left;
    height: 6%;
    min-height: 40px;

}
#nameLable {
    
    color: var(--text-color);
   
    font-size: 20px;
    margin-left: 0.5em;
    margin-top: 0.2em;
    margin-right: 0.25em;
}            

#logoutButton
{

    background-color: var(--button-background-color);
    color: var(--button-text-color);
    display: flex;
    flex-direction: row; 
  align-items: center;
  justify-content: center;
  width: 20%; 
  padding: 10px; 

  box-sizing: border-box;
  font-family: 'Inter', sans-serif; 
}

.M{
    width: 100%;
 

   height: 100%;
}

*{
    overflow: hidden; 
}
.pro{
  
    width: 2em; 
    height: auto; 
    margin-top: 0.5em;
    margin-left: 1em;
}




#messageContainer {
    max-height: 800px; /* Adjust based on your layout */
    overflow-y: auto;
    padding: 10px;
    height: 100%;
    width: 100%;

  
  }